
    <ul
      class="fixed-top fw-bold container-fluid na"
      style="list-style: none; height: 10%"
    >
      <li style="margin-right: 18%"><a routerLink="/breed"><i class="fa-solid fa-shield-cat"></i>BREEDS</a></li>
      <li><a routerLink="/market"><i class="fa-solid fa-magnifying-glass-location"></i>MARKETS</a></li>
      <li><a routerLink="/feed"><i class="fa-solid fa-wheat-awn"></i>FEED</a></li>
      <li><a routerLink="/medicine"><i class="fa-solid fa-syringe"></i>MEDICINE</a></li>
      <li><a routerLink="/disease"><i class="fa-solid fa-square-virus"></i>DISEASES</a></li>
      <li><a routerLink="/vet"><i class="fa-solid fa-user-doctor"></i>VETERINARIAN</a></li>
      <li><a routerLink="/post"><i class="fa-solid fa-comment-dollar"></i>SELL</a></li>
      <li><a routerLink="/home"><i class="fa-solid fa-house"></i>HOME</a></li>
      <li style="float: left; margin-left: 14px;"><img src="/assets/loo.png" 
        style="height: 68px; width: 65px;" class="logo"></li> 
        <li style="float: left; margin-left: 13px; margin-top: 1%; color:#e4d509"><strong> LIVESTOCK<br> ||||||||||||||||||||</strong></li>
    </ul>
    
