<h1 style="color:  #b4aa17; margin-top: 10%; margin-left: 25%; margin-right: 25%;"><strong>Following is a List of Cattle and Poultry Breeds Found in Pakistan:</strong></h1>

    <!-- ------------------------------------------------------------------ -->
    <div style="white-space:nowrap;">
    <div style="margin-left: 30%;  margin-bottom: 5%; display:inline-block">
     <a href="/breed#CowBreeds"><button class="button buttonrow1">Cow Breeds</button></a>
    </div>
    <div style="margin-left: 10%;  margin-bottom: 5%; display:inline-block">
    <a href="/breed#BuffaloBreeds"><button class="button buttonrow1">Buffalo Breeds</button></a>
    </div>
    </div>
    <br>
    <br>
    
    
    <div style="white-space:nowrap;">
    <div style="margin-left: 30%;  margin-bottom: 15%; margin-bottom: 5%; display:inline-block">
        <a href="/breed#CamelBreeds"><button class="button buttonrow2">Camel Breeds</button></a>
    </div>

    <div style="margin-left: 10%;  margin-bottom: 15%; margin-bottom: 5%; display:inline-block">
        <a href="/breed#GoatBreeds"><button style="width: 170px;" class="button buttonrow2">Goat Breeds</button></a>
    </div>

    </div>
    <br>
    <br>
    
    <div style="white-space:nowrap;">
    <div style="margin-left: 30%; margin-bottom: 15%; margin-bottom: 10%; display:inline-block">
        <a href="/breed#SheepBreeds"><button class="button buttonrow3">Sheep Breeds</button></a>
    </div>
    <div style="margin-left: 10%;  margin-bottom: 15%; margin-bottom: 10%; display:inline-block">
        <a href="/breed#ChickenBreeds"><button class="button buttonrow3">Chicken Breeds</button></a>
    </div>
    </div>
    <hr>



<!-- ---------------------------------Cow Breeds----------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">

<section id="CowBreeds">

<h1 style="color: #346b34;"><strong>Cow Breeds</strong></h1>
<div class="font">
<strong style="color: #cec10d;">Sahiwal Cow</strong><br>
<p>Sahiwal cattle lives in parts of districts Sahiwal, Okara, Pakpattan, Multan, and Faisalabad in Punjab. The breed is named after Sahiwal district, which is part of its hometract.</p>
<ul>
    <li>This breed is medium-sized, and has a fleshy body.</li>
    <li>Females have reddish dun colour; males may have a darker colour around the orbit, neck, and hindquarters.</li>
    <li>Males have stumpy horns; females are often dehorned.</li>
    <li>Ears are medium-sized and drooping.</li>
    <li>Skin is loose and fine with a voluminous dewlap and sheath.</li>
    <li>The hump in the male is massive, but in the female it is nominal.</li>
    <li>The tail ends in a black switch.</li>
    <li>The udder is large and strong and occasionally has white patches.</li>
    <li>This is tick resistant breed because its skin naturally keeps on shivering </li>
    <li>Milk yield is 1500-2200 litres per lactation with a fat content of 4.5 %.</li>
    <li>Adult males weigh 400-500 kg, while females weigh 300 to 350 kg. Males having body weight of more than 1000 kg have also been documented.</li>
    <li>Average lactation length is 235 days</li>
</ul>
</div>
<img class="img" src="/assets/breeds/Sahiwal.gif" style="width:50%; height:50%;">
<hr>
</section>
</div>

<!-- ----------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;;">
    <div class="font">
    <strong style="color: #cec10d;">Red Sindhi Cow</strong><br>
    <p>The Red Sindhi breed originates from a mountainous region called `Mahal Kohistan', spread over parts of Karachi, Thattha and Dadu districts in Sindh. The hometract of this breed extends to the irrigated areas of Hyderabad (Sindh) and the arid plains of Lasbella district in Balochistan.</p>
    <ul>
        <li>This is a medium-sized breed with a compact build and red body colour.</li>
        <li>The Lasbella strain is comparatively darker, and the colour of the bull is likely to be darker at the shoulders.</li>
        <li>It has a large head with an occasional bulge in the forehead.</li>
        <li>Horns are thick and stumpy in males but thin in females.</li>
        <li>Ears are fine and small.</li>
        <li>The hump is well‑developed in males.</li>
        <li>Tail switch is black.</li>
        <li>Red Sindhi animals are hardy and adapt very well to stressful environments.</li>
        <li>Milk yield per lactation varies from 1200 to 2000 litres. </li>
        <li>Adult males weigh 400-500 kg, while females weigh 300-350 kg.</li>
    </ul>
    </div>
    <img class="img" src="/assets/breeds/Redsindhi.gif" style="width:50%; height:50%;">
    <hr>
    </div>
    

    <!-- ----------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;;">
    <div class="font">
    <strong style="color: #cec10d;">Cholistani Cow</strong><br>
    <p>Cholistan tract (a desert area) and adjoining colonized areas of Bahawalnagar, Bahawalpur, and Rahimyar Khan districts.</p>
    <ul>
        <li>This is a Large-sized flabby animal</li>
        <li>Horns are small.</li>
        <li>Ears are long.</li>
        <li>Hump is well-developed in males</li>
        <li>Dewlap is large both in male and female.</li>
        <li>The hump is well‑developed in males.</li>
        <li>Sheath is pendulous in male.</li>
        <li>Tail ends in black switch.</li>
        <li>Udder is medium-sized with milk yield varying from 1200 to 1800 litres/lactation.</li>
        <li>Average body weight is 450 to 500 and 350 to 400 kg in male and female animals respectively.</li>
        <li>Males are a good source of beef and may be used as draught animals</li>
    </ul>
    </div>
    <img class="img" src="/assets/breeds/Cholistani.gif" style="width:50%; height:50%;">
    <hr>
    </div>
    

    <!-- ----------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;;">
    <div class="font">
    <strong style="color: #cec10d;">Achai Cow</strong><br>
    <p>A small-sized breed found in KPK province. The hometract of Achai animals extends on the west to adjoining parts of Afghanistan and on the east to hilly tract of northwestern Punjab.</p>
    <ul>
        <li>Its colour is reddish brown with white face.</li>
        <li>Animals of all reddish brown colour with or without white (or spotted) head are also seen. White spots may be seen on the udder, underline, and the legs. Colour of muzzle varies from white to light or dark brown.</li>
        <li>In females, horns are small and thin, resembling hooks with variable curls and directions, while in males, horns are large, directed upward and forward.</li>
        <li>The eyes are sharp and bright.</li>
        <li>Neck is short, especially in males.</li>
        <li>Switch of tail is generally white, but reddish brown colour is also seen.</li>
        <li>Achai cows can be milked many times a day.</li>
        <li>Well-fed males serve as good beef animals, especially for sacrificial purposes.</li>
        <li>They are an asset for hilly terrain of the KPK province under resource limited subsistence production set up.</li>
    </ul>
    </div>
    <img class="img" src="/assets/breeds/Achai.gif" style="width:50%; height:50%;">
    <hr>
    </div>
    

    <!-- ---------------------------------Buffalo Breeds----------------------------------------------- -->

    <div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;;">
        <section id="BuffaloBreeds">
    <h1 style="color: #346b34;"><strong>Buffalo Breeds</strong></h1>
    <div class="font">
    <strong style="color: #cec10d;">Nili-Ravi Buffalo</strong><br>
    <p>The hometract of the Nili-Ravi buffalo includes Lahore, Sheikhupura, Faisalabad, Okara, Sahiwal, Pakpattan and Vehari districts of Central Punjab; and Multan and parts of Bahawalpur and Bahawalnagar districts of southern Punjab. However, because of their well-recognized dairy qualities, these animals are now found all over the country. Nili-Ravi 'buffaloes are in great demand in several other countries as well. Nili and Ravi were recognized as separate breeds until 1960's when merging of the two breeds was accepted in the form of Nili-Ravi breed.</p>
    <ul>
        <li>These buffaloes are massive, somewhat wedge-shaped animals.</li>
        <li>They are mostly black, but often have white markings on the forehead, face, and muzzle, and lower parts of the legs. Due to which it is called “Panj Kalyan”.</li>
        <li>The tail switch is often white.</li>
        <li>They have all curly horns, wall eyes, and a large and strong udder.</li>
        <li>Males attain maturity at the age of 30 months, and females at 36 months.</li>
        <li>Milk yield is 1800-2500 litres per lactation (322 days) with 6.5% butter fat.</li>
        <li>Adult males weigh 550-650 kg, while females weigh 350-450 Kg.</li>
    </ul>
    </div>
    <img class="img round" src="/assets/breeds/NiliRavi.jpg" style="width:50%; height:50%;">
    <hr>
</section>
    </div>

<!-- -------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color: #0f0e0e;;">
    <div class="font">
    <strong style="color: #cec10d;">Kundhi Buffalo</strong><br>
    <p>Kundhi buffaloes are found throughout Sindh, particularly on both sides of the Indus river from Kashmore in the north to Shah Bandar in the south on the coast of the Arabian Sea. They are also found in some parts of Balochistan province.</p>
    <ul>
        <li>These are massive, jet-black animals.</li>
        <li>Their horns are broad at the base and taper upward and inward, giving them a fishhook shape, hence the name `Kundhi'.</li>
        <li>White spots on the body and straight horns are considered undesirable in this breed.</li>
        <li>They have a broad forehead, short neck, and medium-sized ears.</li>
        <li>They have large, strong udders.</li>
        <li>The average age at maturity is 30 months in males and 36 months in females.</li>
        <li>Adult males weigh 500-600 kg, and females 300-400 kg.</li>
        <li>The milk yield per lactation is 1700-2200 litres with over 6.5% butter fat.</li>
    </ul>
    </div>
    <img class="img" src="/assets/breeds/Kundhi.jpg" style="width:50%; height:50%;">
    <hr>

</div>
<!-- -------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color: #0f0e0e;">
    <div class="font">
        <strong style="color: #cec10d;">Azi-Kheli Buffalo</strong><br>
        <p>These buffaloes are mainly found in Khwaza Khella and Madyan areas of Swat district about 175 km north east of Peshawar in KPK, but can be found in whole valley of Swat. Azi-Khelies have been named after a local tribe ‘Aziz Khell'.</p>
        <ul>
            <li>Color variation in Azi-Kheli is quite pronounced, varying from complete albino animals to piebald to even black.</li>
            <li>Young animals have normal brownish hair, while hair coat usually becomes scanty and thin in adults.</li>
            <li>Forehead has a white marking of varying size and can be totally white with a tapering face.</li>
            <li>Horns are small semi-sickled in shape.</li>
            <li>The tail is characteristically short and slender.</li>
            <li>Estimated liveweight is 350 to 450 kg.</li>
            <li>The udder in lactating animals is fairly developed.</li>
            <li>Azi‑Kheli buffaloes are generally docile.</li>
        </ul>
        </div>
        <img class="img round" src="/assets/breeds/AziKheli.jpg" style="width:50%; height:50%;">
        <hr>
    </div>

<!-- ---------------------------------Goat Breeds----------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;;">
    <section id="GoatBreeds">
    <h1 style="color:#346b34;"><strong>Goat Breeds</strong></h1>
    <div class="font">
    <strong style="color: #cec10d;">Beetal</strong><br>
    <p>Beetal goats are one of the most popular breeds of goat in the subcontinent. Their population size is very large in the Punjab provinces of both India and Pakistan.
        Beetal goats have a very distinct appearance and are easily spotted in a crowd. They have long and flat ears which are very evident. Their ears are also curly and droop down the side of their head.

        These factors combine to mean that their ears are a very distinct aspect of their appearance.
        
        Apart from their ears, Beetal goats also possess long legs and short tails.
        
        Beetal goats are fairly large in size and this also helps them stand out from other breeds of goats.
        
        Beetal goats can be found in many different colors. The most common colors of the Beetal goat are dark brown and black, which does not stand out a lot. However, their skin colors suit them well and complement their appearance.</p>
    
    </div>
    <img class="img round" src="/assets/breeds/Beetal.jpg" style="width:50%; height:50%;">
    <hr>
</section>
    </div>
<!-- -------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;;">
    <div class="font">
    <strong style="color: #cec10d;">Kamori</strong><br>
    <p>The Kamori goat is another popular breed of goats in the subcontinent. It is widely seen in the Sindh province in Pakistan but is also seen in some parts of India.

        In Sindh, Kamori goats are primarily found in the regions of Nawabshah, Larkana, and Dadu.
        
        The Kamori goat also has large ears much like most other goats. However, they have other distinctive features that help distinguish them from other goats in appearance.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Kamori.jpg" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color: #0f0e0e;;">
    <div class="font">
    <strong style="color: #cec10d;">Dera Din Panah</strong><br>
    <p>The Dera Din Panah is a species of goat primarily found in Pakistan. Inside Pakistan, the Dera Din Panah is found chiefly in the Muzaffargarh and Multan regions in the province of Punjab.

        The Dera Din Panah is not a very rare species, and is actually found to be pretty common in its native regions inside the country. According to official sources, its population was around 142 thousand in 2006.
        
        Despite being a common breed, the Dera Din Panah does have a very noticeable appearance. The entirety of its body is covered in long hair that hangs really low. This hair results in the Dera Din Panah having a very unusual appearance.
        
        The Dera Din Panah is black in color and also has exceptionally long ears. Despite the color of this breed being a very common one, it possesses other physical attributes that help it stand out.
        
        One of its most defining features are its horns, which are a marvel to behold. The horns on a Dera Din Panah are very long and spiral upwards from its head in a handsome pattern.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/DeraDinPanah.jpg" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color: #0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Barbari</strong><br>
    <p>The Barbari is a very popular breed of goat in the subcontinent and is found in large numbers in both India and Pakistan. In Pakistan, the Barbari is found chiefly in the provinces of Sindh and Punjab.

        The Barbari is a historic breed of goat. It has a unique name that it adopted from a city known as Berbera in the country of Somalia.
        
        There are around 2.4 million Barbari goats present in the world and most of this population resides within Pakistan.
        
        The Barbari is not very large in size, and is in fact a very compact breed as far as goats are concerned.
        
        Unlike most goats on this list, the Barbari has small ears that point upwards from its head. In that regard, the ears of the Barbari help it to stand out from other goats.
        
        It also has a small head along with small horns that complement the small head.
        
        As far as color goes, the Barbari is largely found in a white color across the country. However, it does possess solid patches of different shades of brown on its body.
    </p>
    
    </div>
    <img class="img" src="/assets/breeds/Barbari.PNG" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color: #0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Kaghani</strong><br>
    <p>The Kaghani goat gets its name from the valley that it originates from. The home of the Kaghani goat is the Kaghan valley that runs through the Swat, Mansehra, Kohistan, and Abbotabad regions in Pakistan.

        Also known as the Bakerwali in some regions of the country, its origins lie in the Hazara district. The Kaghani goat is primarily found in the Khyber Pakhtunkhwa and Northern regions of Pakistan. This is in stark contrast to most of the popular goats in Pakistan which are found in the Punjab and Sindh regions.
        
        The Kaghani can be identified very easily based on its appearance. It is not very large in size but is bigger than the Barbari, making it a medium-sized goat. These male and female goats have beards on the mouth.
        
        Its body is covered in long, straight hairs that fall downwards. The Kaghani can be found in varying colors all over the country, such as black, brown, white, or gray.
        
        The Kaghani also has small, twirling horns that go straight up from its head.
    </p>
    
    </div>
    <img class="img" src="/assets/breeds/Kaghani.PNG" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color: #0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Nachi</strong><br>
    <p>The Nachi is another breed of goat that is found primarily in the Punjab province in Pakistan. To be more specific, the Nachi is most commonly found in Muzaffargarh, Multan, and Jhang districts in the southern half of Punjab. It is also common in the Bahawalpur and Layyah Districts.

        The word Nachi belongs to a Punjabi origin and roughly translates to “having some dancing gait.” 
        
        The Nachi breed got its name from the fact that they have a dancing gait, and can be used as entertainment. According to research, this gate has something to do with their genetics.
        
        The Nachi breed is a hairy one, having long and thick hair all over their bodies. They are also mainly found in a dark black color with white spots over their bodies and faces.
        
        Nachi goats have medium sized ears that grow sideways. They also have small horns on the stop of their heads.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Nachi.jpg" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Gulabi</strong><br>
    <p>The Gulabi goat is very popular in Pakistan and is found in significant numbers all over the country. The word Gulabi is an Urdu word that translates to the color pink in English.

        Gulabi goats are one of the many breeds of goats that have resulted from the crossbreeding of goats by humans. The Gulabi breed came to be after 4 different breeds of goats were crossbred together.
        
        The breeds that gave birth to the Gulabi were the Beetal, Pateri, Rajhanpuri, and Kamori goats. This 4 way crossbreeding practice resulted in the Gulabi breed of goats. Gulabi is one of the giant goat breeds of Pakistan.
        
        Gulabi goats are often kept as pets due to their friendliness with humans and other animals. They especially adore humans and crave their attention.
        
        Gulabi goats are quite large in size and have small horns in female on the top of their heads. They are almost always found in a completely white color.
        
        They also have exceptionally large ears. In fact, the ears of Gulabi goats are so large that they sometimes fall down to their knees.
    </p>
    
    </div>
    <img class="img" src="/assets/breeds/Gulabi.PNG" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Teddy</strong><br>
    <p>Teddy goats are one of the most famous and widely raised breeds of goats in Pakistan. Although they originated in Punjab, their versatility and adaptability has meant that they have spread to every region in the country.

        They can survive in harsh climates where other breeds of goats cannot. This has even resulted in them spreading to northern regions of Pakistan, such as Azad Kashmir.
        
        The reason that Teddy goats have been so popular is because they are small and easy to handle for cattle farmers. They have small heads and tiny, pointy ears that point upwards.
        
        Teddy goats are almost entirely found in a clean, white color. They do not have many color variations in their skin, nor do they have spots on their body.
        
        They also have a small input, which means that they do not require a large amount of food.
        
        Along with their versatility, their smaller diet has meant that they have grown into the most widely used commercial breed of goats in the country.
        
        They are largely used as a commercial commodity to produce meat in Pakistan. Their numbers have grown further as the demand for mutton skyrockets in the country.
    </p>
    
    </div>
    <img class="img" src="/assets/breeds/Teddy.PNG" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- ---------------------------------Sheep Breeds----------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color: #0f0e0e;">
    <section id="SheepBreeds">
    <h1 style="color:#346b34;"><strong>Sheep Breeds</strong></h1>
    <div class="font">
    <strong style="color: #cec10d;">Balkhi Sheep</strong><br>
    <p>The Balkhi is a domesticated breed of sheep found in Afghanistan and North-western Pakistan. This breed is of the fat-tailed mutton type. Though this breed does grow wool, it is primarily raised for meat.
        The Balkhi displays black, tan or grey. They yield approximately 2 kg of coarse wool with an average 43.5 micrometre diameter. This breed has a low fiber density. The ears are somewhat long, the body is muscular and compact. The tail is fat and tucked. Both sexes are horned.

    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Balkhi.jpg" style="width:50%; height:50%;">
    <hr>
</section>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Baluchi Sheep</strong><br>
    <p>The Baluchi is a domesticated breed of sheep originating from now southwest Pakistan, Baluchistan, eastern Iran and southern Afghanistan. It is a member of the fat-tailed breed. The Baluchi is raised primarily for wool.
    The Baluchi displays black and white with black marks on the head and legs. Ewes weigh 35 kg on average at maturity, lactate for approximately 120 to 130 days and provide 35 to 40 kg of milk during this period.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Baluchi.jpg" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Bibrik Sheep</strong><br>
    <p>The Bibrik is a fat tailed, domesticated breed of meat sheep that is found in Baluchistan Province of Pakistan.
        The Bibrik displays white with a black or brown head. The wool is course with a yield of 1.7 kg and an average diameter of 41.5 micrometres.
        Both sexes are horned with rams having curved horns. On average, rams weigh 37 kg and ewes weigh 31 kg.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Bibrik.jpg" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Cholistani Sheep</strong><br>
    <p>The Cholistani is a breed of domestic sheep from Punjab, Pakistan. Though the Cholistani grows wool, it is raised primarily for meat.
        This breed has a black to brown head and ears with a white body. They have stubby, small ears and are locally called 'Buchi'.The Cholistani has a long tail.
        Mature rams weigh 48.5 kg and ewes weigh 34 kg.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Cholistani.jpg" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Kajli Sheep</strong><br>
    <p>Kajla is a breed of sheep, native to Punjab, Pakistan. It is mainly bred in Sargodha and other cities such as Gujranwala, Lahore, Faisalabad, apart from being found in some parts of India. The breed is bred primarily for its wool, meat and milk. This breed can grow significantly large and bulky at a young age.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Kajli.jpg" style="width:50%; height:50%;">
    <hr>
</div>

<!-- ---------------------------------Camel Breeds----------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <section id="CamelBreeds">
    <h1 style="color: #346b34;"><strong>Camel Breeds</strong></h1>
    <div class="font">
    <strong style="color: #cec10d;">Brahvi</strong><br>
    <p>Chaghi District central home but
        extend to brahvi mountains and
        Bolan to Jacobabad, further found
        in Shadad kot, Garhi kharo and
        Larkana Districts of Sindh
        Province. <br>
Coat colour is light to dark brown
but in dim colour, Small compact
body, short but strong legs, hind
quarters are massive and well
developed, dense long wooly hair
over neck, shoulder and belly.
Protrusion of tongue from mouth is
command. This is a hilly and
baggage camel breed.

    </p>
    
    </div>

    <hr>
</section>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">

    <div class="font">
    <strong style="color: #cec10d;">Kharani</strong><br>
    <p>It's found in Khran, washuk, Nushki, Khuzdar, and Kalat Districts of Baluchistan.
    <br>
    This breed of camel exists in three coat colours (red,
    yellow and brown) compared to
    Brahvi camel colour Kharani camel
    colour is shiny. Large round head,
    ears are small and flat. Big hump,
    hair is straight; protrusion of tongue
    from mouth is less. This is a pour
    ridding and desert camel breed also
    found in mountainous areas.
    

    </p>
    </div>

    <hr>

    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Lassi</strong><br>
    <p>It's found in Lessbela, Awaran, Karachi and
        Khuzdar districts.        
    <br>
    Generally, coat colour is brown but
    also found in red brown. Body is
    comparatively large than makrani,
    large legs, neck, ears, eyes, foot,
    hump and mouth. Pointed muzzle,
    long head, straight forwarded neck
    and straight hair. Hump, udder and
    hind quarters are well developed.
    This is a dual purpose, used for
    ridding and walking. 
    

    </p>
    </div>

    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <div class="font">
    <strong style="color: #cec10d;">Makrani</strong><br>
    <p>It's found in Makran, Lessbela, Jalwan, sarwan
        areas of Baluchistan.     
    <br>
    Coat colouer is light brown to dark
    brown. They have slim and small
    body, small neck, head, legs, foots. 
    
    </p>
    </div>
    <hr>
    </div>

<!-- ---------------------------------Chicken Breeds----------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">
    <section id="ChickenBreeds">
    <h1 style="color: #346b34;"><strong>Chicken Breeds</strong></h1>
    <div class="font">
    <strong style="color: #cec10d;">Asil</strong><br>
    <p>Asil chicken (also spelled Aseel or Asli) is an ancient breed of chicken from Indian Subcontinent. They are originally kept for cockfighting, but nowadays these birds are also kept for ornamental purposes. They are gaining popularity throughout the world rapidly. <br>
        Asil chickens are very skilled in fighting. They have wide and very beautiful chest. Their body structure is very good and they become very strong.

        Legs and neck of Asil chicken are very long compared to other common chicken breeds. Asil hens are not good layers. Hens lay a few eggs and their eggs are also small.
        
        Both roosters and hens are very beautiful, and both have short and hard feathers. And their feathers are held tightly to their body. They have a meaty carcass and they are especially noted for having a large heart for their body size. They also have short intestines as compared to some other common chicken breeds.

        There are many varieties of Asil chickens are available. Depending on the variety, the color of feathers can be black, red or mixed. They have a small pea comb.

Most of the Asil chicken varieties are big in size and very hardy. Diseases are pretty less. On an average an adult Asil rooster weights about 3kg – 4kg, and an adult hen can weight about 2.5kg – 3kg.

    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Asil.jpg" style="width:50%; height:50%;">
    <hr>
</section>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">

    <div class="font">
    <strong style="color: #cec10d;">Sindhi</strong><br>
    <p>Chicken Breeds are simply named after the area where they are bred. If we talk about Aseel then there are various varieties of Aseel on the basis of its origin. The name Sindhi is referring to that type of Assel bird that is native to Sindh province in Pakistan.
        Sindhi Breeds are noted as being tall, heavy, and good at fighting, so they are bred mainly for the cockpit. These Aseels are characterized by a muscular but compact body, broad shoulders, wings carried against the body, short and hard feathers, drooping tails, a large curved beak similar to that of an eagle, pea comb, and no wattles.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/Sindhi.jpg" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%; font-size: larger; color:#0f0e0e;">

    <div class="font">
    <strong style="color: #cec10d;">Misri</strong><br>
    <p>Misri is not a good sitter i.e they are not brooding hens whereas the desi hen is brooding.
        Misri hens are egg-laying hens. They have a large comb and wattle. This is not so much a distinguishable feature but some farm experts noticed it and said that misri has eyelashes.
    </p>
    
    </div>
    <img class="img round" src="/assets/breeds/misri.jpg" style="width:50%; height:50%;">
    <hr>
    </div>
<!-- -------------------------------------------- -->