<h1 style="margin-left: 30%; margin-top: 6%; color: #b4aa17;" ><b>Poultry Feed is available at the following addresses</b></h1>
<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
    
    <div class="container" style="float: left;">
        <img src="/assets/store.png" class="img" alt="Avatar" style="width:70%">
      <h4><b>City: MPK <br>
        Area: Satellite Twon<br>
        Shop Name: Malik Poultry Farm<br>
        Shop No: 367<br>
        Contact: 0333782890
        </b></h4>
      
    </div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
    <img src="/assets/store.png" class="img" alt="Avatar" style="width:70%">
    <h4><b>City: MPK <br>
        Area: Heerabad <br>
        Shop Name: Chicken Poultry Farm <br>
        Shop No: 789 <br>
        Contact: 0319738340 <br>
        </b></h4>
</div>
</div>
<br>
<!-- ------------------------------------------------------------------------------ -->

<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
    
    <div class="container" style="float: left;">
        <img src="/assets/store.png" class="img" alt="Avatar" style="width:70%">
      <h4><b>City: Hyderabad <br>
        Area: Latifabad<br>
        Shop Name: Lahori Poultry Farm<br>
        Shop No: 111<br>
        Contact: 0333872200
        </b></h4>
      
    </div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
    <img src="/assets/store.png" class="img" alt="Avatar" style="width:70%">
    <h4><b>City: Hyderabad <br>
        Area: Qasimabad <br>
        Shop Name: Gulbag Poultry Farm <br>
        Shop No: 279 <br>
        Contact: 03186334400 <br>
        </b></h4>
</div>
</div>
<br>
<!-- ------------------------------------------------------------------------------ -->

<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
    
    <div class="container" style="float: left;">
        <img src="/assets/store.png" class="img" alt="Avatar" style="width:70%">
      <h4><b>City: Lahore<br>
        Area: Railway Colony<br>
        Shop Name: Azaad Poultry Farm<br>
        Shop No: 197<br>
        Contact: 033762891
        </b></h4>
      
    </div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
    <img src="/assets/store.png" class="img" alt="Avatar" style="width:70%">
    <h4><b>City: Lahore<br>
        Area: Azizabad <br>
        Shop Name: Aziz Poultry Farm <br>
        Shop No: 281 <br>
        Contact: 03386904280 <br>
        </b></h4>
</div>
</div>
<br>
<!-- ------------------------------------------------------------------------------ -->



