
<h2 style="margin-left: 30%; margin-top: 5%; margin-bottom: 5%; color: #b4aa17">
<strong>Please Click on a Button Below to Go to the Disease Section</strong></h2>


<div style="white-space:nowrap;">
<div style="margin-left: 30%;  margin-bottom: 5%; display:inline-block">
 <a href="/disease#GoatDiseases"><button class="button buttonrow1">Goat Diseases</button></a>
</div>
<div style="margin-left: 15%;  margin-bottom: 5%; display:inline-block">
<a href="/disease#CowDiseases"><button class="button buttonrow1">Cow Diseases</button></a>
</div>
</div>
<br>
<br>


<div style="white-space:nowrap;">
<div style="margin-left: 30%;  margin-bottom: 15%; margin-bottom: 5%; display:inline-block">
    <a href="/disease#BuffaloDiseases"><button class="button buttonrow2">Buffalo Diseases</button></a>
</div>
<div style="margin-left: 14%;  margin-bottom: 15%; margin-bottom: 5%; display:inline-block">
    <a href="/disease#SheepDiseases"><button class="button buttonrow2">Sheep Diseases</button></a>
</div>
</div>
<br>
<br>


<div style="white-space:nowrap;">
<div style="margin-left: 30%; margin-bottom: 15%; margin-bottom: 10%; display:inline-block">
    <a href="/disease#CamelDiseases"><button class="button buttonrow3">Camel Diseases</button></a>
</div>
<div style="margin-left: 14%;  margin-bottom: 15%; margin-bottom: 10%; display:inline-block">
    <a href="/disease#ChickenDiseases"><button class="button buttonrow3">Chicken Diseases</button></a>
</div>
</div>

<hr>
<!-- --------------------------Camel Diseases---------------------------------------------- -->
<div class="content" style="margin-left: 25%; margin-top: 5%; margin-right: 25%; margin-bottom: 20px; " >
<section id="CamelDiseases" >
<h1 style="text-align: center; color:#358126; font-size: 35px;"><strong>Camel Diseases</strong></h1>
<h2><strong style="color: #c9bc09;">1. Camelpox</strong></h2>
<p>Camelpox is an extremely infectious skin disorder and the most common infectious viral illness of camels, occurring in most regions where camel farming is common. 

<br><br><strong>Symptoms</strong><br>
Symptoms of camelpox are fever, skin lesions, and lymph node inflammation.
<br><br><strong>Prevention and Control</strong><br>
The infection, like smallpox in humans, may be controlled by separating diseased camels and injecting the remainder with the standard vaccinia virus vaccine or the recently developed CMLV vaccine, available live attenuated and inactivated . A booster vaccine dose is recommended for young camelids inoculated before 6–9 months. The inactivated vaccine can be injected yearly , and the live attenuated vaccine provides long-term protection.

<br><br><strong>Treatment</strong><br>
General non-specific treatment for infected camels is the administration of 10 mg/kg oxytetracycline and 0.2 mg/kg meloxicam for 5 days . A spray containing gamma benzene hexachloride, proflavine hemisulphate, cetrimide, eucalyptus oil, turpentine oil, and neem oil can also be used for wound therapy and fly control . Other ethnopharmacological applications are also widely used to treat camelpox . In humans, cidofovir would likely be beneficial in the treatment and short-term prevention of smallpox and kindred poxvirus infections, as well as the treatment of vaccinia sequelae in immunocompromised individuals . Cidovir and its acyclic nucleoside phosphonate derivatives have shown promising therapeutic potency against camelpox 
</p>

<h2><strong style="color: #c9bc09;">2.	Camel Contagious Ecthyma</strong></h2>
<p>Camel contagious ecthyma (CCE) is a highly contagious viral disease with a 38% fatality   rate that mostly affects young camels, causing calf debility. Caused by a poxvirus (genus Parapoxvirus, family Poxviridae), CCE is distinguished by pustular lesions around the mouth, lips, and buccal cavity, and head swelling.

<br><br><strong>Symptoms</strong><br>
Clinical signs of CCE include nodular skin lesions, papules and vesicles which are mostly observed around the mouth, nares, lips and eyes

<br><br><strong>Prevention and Control</strong><br>
Vaccination using CCE virus-containing material appears promising. However, immunization with vaccinia virus and a vaccine against infectious ecthyma in sheep and goats did not protect camels from infection.

<br><br><strong>Treatment</strong><br>
Traditional therapies include cauterization of regional lymph nodes, the application of sesame oil and heated milk, and plant tar. Topical or systemic broad-spectrum antibiotics for 3–5 days prevent subsequent bacterial infection. Antipyretics, antihistamines, and multivitamins are also helpful in minimizing the consequences of the infection (22). Administering the preferred NSAID flunixin (1 mg/kg) intramuscularly once daily may be recommended
</p>

<br><h2><strong style="color: #c9bc09;">3.	Rift Valley Fever</strong></h2><br>
<p>The RVF is a severe mosquito-borne viral infection [genus Phlebovirus, family Bunyaviridae [26]] that affects animals (lambs, camels, and cattle) as well as humans.RVF produces severe sickness in camels, with fever, weakness, abnormalities, infertility, and an increased death rate, especially among younger camels. Signs and symptoms of RVF are ocular discharge, tongue hemorrhages, and trough edema.

<br><br><strong>Symptoms</strong><br>
Most commonly, people with RVF have either no symptoms or a mild illness that includes fever, weakness, back pain, and dizziness at the onset of illness. Typically, patients recover within two days to one week after symptoms start.

<br><br><strong>Prevention and Control</strong><br>
Many types of vaccines are available. Because of the necessity for several doses, inactivated or killed vaccines are unsustainable for regular field immunization. One of the oldest and most commonly used vaccines for managing RVF in Africa is the modified live Smithburn vaccine, which requires only a single dosage; however, it has been linked to birth abnormalities and miscarriages in pregnant calves, and it may only provide camels modest protection against RVF infection.

<br><br><strong>Treatment</strong><br>
Tilorone in vitro inhibited both the vaccine (MP-12) and the pathogenic (Zh201) strains of RVFV at low micromolar concentrations. In a mouse model, tilorone treatment significantly improved the survival outcomes of BALB/c mice exposed to RVFV Zh201. An 80% survival rate was achieved when 30 mg/kg/day was administered immediately after infection. One day after infection, 30% of animals administered tilorone at 45 mg/kg/day survived . Oral favipiravir (200 mg/kg/day) prevented death in ≥60% of hamsters challenged with RVFV when administered within 1 or 6 h of exposure and decreased initial RVFV titers in serum and tissues. Ribavirin (75 mg/kg/day) relieved some symptoms of peracute RVFV illness
</p> 

<br><h2><strong style="color: #c9bc09;">4.	Bovine Viral Diarrhea</strong></h2><br>
<p>The BVDV is one of the numerous pestiviruses that infect domesticated and wild ruminants, camelids, and pigs worldwide. For cattle farmers, infection results in commercial losses due to lower growth weight, reduced milk supply, reproductive losses, and mortality. 

<br><br><strong>Symptoms</strong><br>
In adult cattle, the clinical signs vary from no obvious illness to fever, nasal discharge, oral lesions, diarrhea, decreased milk production, pneumonia, infertility or abortion in pregnant females.

<br><br><strong>Prevention and Control</strong><br>
No BVDV vaccine is currently approved for use in camelids, although several vaccines are available for use in cattle. Vaccines cannot prevent infection, but they do lessen the clinical symptoms of illness . Vaccinating camelids is not currently recommended, pending further studies. Inappropriate vaccination may prevent accurate diagnostic testing and the capacity to identify infected camelids. Maintaining a sealed herd, establishing strong biosecurity standards for all entering animals (recommended for many viral infections, such as coronavirus), and inspecting open herds regularly may all help to limit the infection frequency .

<br><br><strong>Treatment</strong><br>
In cell culture, IFN-α substantially inhibited viral development. In the presence of more than 103 units/ml of IFN-α, the replication of two cytopathogenic and two non-cytopathogenic strains of BVD was inhibited. The addition of TNF-α or TNF-β to IFN-α did not influence the suppressive effect . Huang qin Zhizi, a Chinese herbal medication, proved beneficial in treating BVD. According to network and pathway analysis, the medication suppressed inflammation and increased host immune responses to BVD infection
</p>


<h2><strong style="color: #c9bc09;">5.	Bluetongue Disease</strong></h2>
<p>BT is an infectious disease caused by the bluetongue virus (BTV; genus Orbivirus, family Reoviridae) transmitted by biting midges of Culicoides spp. It primarily affects ruminant and camelid animals. 

<br><br><strong>Symptoms</strong><br>
Symptoms of this infection are more common in sheep, whereas asymptomatic BT infections are more prevalent in cows, goats, and camelids.

<br><br><strong>Prevention and Control</strong><br>
Subunit and viral vector-based vaccines have been developed for BTV infection and are used in ruminants . These vaccines are not approved for South American camelids.

<br><br><strong>Treatment</strong><br>
BTV is resistant to ether, chloroform, and sodium deoxycholate but sensitive to trypsin treatment. The virus is stable within a pH range of 6–8. Below a pH of 6, BTV was rendered inactive at 37°C . Levamisole, an anthelmintic drug, stimulated a significant immune response to the BT vaccine when administered in repeated doses of 2.5 mg/kg before immunization . Tarantula cubensis extract (Theranekron) showed promising efficacy in treating oral BT lesions in cattle when combined with tetracycline and flunixin meglumine . Re-epithelization and recovery to normal body temperature occurred 24 h after Theranekron administration, with the treatment group recovering faster than the control group
</p>


<h2><strong style="color: #c9bc09;">6.	COVID-19</strong></h2>
<p>Coronavirus disease 2019, COVID-19, was declared a global pandemic by the World Health Organization in 2020. COVID-19 is caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2; genus Deltacoronavirus, family Coroniviridae), a single-stranded RNA virus. Camels are known to be reservoirs and carriers of various coronavirus strains, and as a result, they can produce a strong immune response against recurrent coronavirus infections.
</p>

<p>Rabies is a lethal notifiable zoonotic encephalomyelitis and a major challenge to public and animal health. Rabies has been accounted for in dromedary camels in all camel raising countries. Camels are bitten commonly on fore or hind limbs and in head of females when they defend their neonates from predator’s attacks.
Symptoms: The first symptoms of rabies may be similar to the flu, including weakness or discomfort, fever, or headache.

<br><br><strong>Prevent and Control</strong><br>
Keeping your cattle’s up to date on their rabies vaccination will prevent them from acquiring the disease from wildlife, and thereby prevent possible transmission to your family or other people.
</p>

<h2><br><strong style="color: #c9bc09;">8.	Camel Papillomatosis</strong></h2>
<P>Camel papillomatosis in dromedary camels is caused by Camelus dromedarius papilloma virus (CdPV). camelpapillomatosis is characterized by round, cauliflower-like horny masses (warts) on the skin of the lips, legs, eyelids, nostrils, and mandible. Most of the reported cases of papillomatosis in the camel are commonly found in young animals and occur in the late rainy season, matching with episodes of camel contagious ecthyma and camel pox. Camel papillomatosis can be diagnosed clinically.

<br><br><strong>Symptoms</strong><br>
The disease is characterized by fever, local or generalized pox lesions on the skin and in the mucous membranes of the mouth and respiratory tract.
</P>
</section>
</div>
<hr>
<!-- -------------------------Goat Diseases----------------------------------------------- -->
<div class="content" style="margin-left: 25%; margin-top: 30px; margin-right: 25%; margin-bottom: 20px;">
    <section id="GoatDiseases">
    <h1 style="text-align: center; color:#358126; font-size: 35px;"><strong>Goat Diseases</strong></h1>
    <br><h2><strong style="color: #c9bc09;">1. Brucellosis</strong></h2><br>
    <p>brucellosis is a bacterial infection that can affect goats and other livestock such as sheep and cows and wild ruminants such as deer, elk and bison. Brucellosis causes abortion or stillbirth in animals. 
    
    <br><br><strong>Symptoms</strong><br>
    It can cause vague symptoms like fever, joint pain and sweating that come and go over a long time.
    <br><br><strong>Prevention and Control</strong><br>
    The infection, like smallpox in humans, may be controlled by separating diseased camels and injecting the remainder with the standard vaccinia virus vaccine or the recently developed CMLV vaccine, available live attenuated and inactivated . A booster vaccine dose is recommended for young camelids inoculated before 6–9 months. The inactivated vaccine can be injected yearly , and the live attenuated vaccine provides long-term protection.
    
    <br><br><strong>Treatment</strong><br>
    General principles of brucellosis treatment include use of antibiotics with activity in acidic intracellular environments (such as doxycycline and rifampin), use of combination therapy (given high relapse rates with monotherapy), and prolonged duration of treatment.
    </p>
    
    <br><h2><strong style="color: #c9bc09;">2.	Campylobacteriosis</strong></h2><br>
    <p>Campylobacteriosis is an infection of the intestines caused by a bacteria called Campylobacter. The bacteria is commonly found in the feces of infected animals and in food products contaminated with the bacteria during processing or preparation. Raw or undercooked chicken is one of the most common sources of human infection.    
    
    <br><br><strong>Symptoms</strong><br>
    Diarrhea, sometimes bloody,Nausea,Vomiting,Belly cramps,Bloating,Fever
    </p>
    
    <br><h2><strong style="color: #c9bc09;">3.	Q Fever</strong></h2><br>
    <p>Q fever is a disease caused by a type of bacterium named Coxiella burnetii. It is primarily a disease of cattle, sheep, and goats although other livestock and pets can also get Q Fever.  The risk of infection is greatest close to the source of bacteria, but there have been cases of infection even several miles away. Accidentally inhaling contaminated milk is a less common way getting the infection.    
    
    <br><br><strong>Symptoms</strong><br>
    These include abortion, infertility, stillbirth, mastitis, and metritis.

    <br><br><strong>Prevention and Control</strong><br>
    Q Fever can be prevented by avoiding high densities of animals during kidding, lambing, and calving seasons. Carcasses, aborted fetuses, and placentas should be promptly removed to minimize spread from potentially infected materials. Pregnant, infected females should be isolated from the herd.    
    </p> 
    
    <br><h2><strong style="color: #c9bc09;">4.	Coccidiosis</strong></h2><br>
    <p>The BVDV is one of the numerous pestiviruses that infect domesticated and wild ruminants, camelids, and pigs worldwide. For cattle farmers, infection results in commercial losses due to lower growth weight, reduced milk supply, reproductive losses, and mortality. 
    
    <br><br><strong>Symptoms</strong><br>
    Coccidiosis is a costly parasitic livestock disease affecting goats and sheep.     
    
    <br><br><strong>Prevention and Control</strong><br>
    Improve management and hygiene of facilities, pastures, pens, and feeding and water sources.Minimize weaning stress. If needed, creep feed to adjust the kids to a new diet prior to weaning.Ask your veterinarian about using a medicated feed containing a coccidiostat, such as monensin, lasalocid, or decoquinate.Avoid keeping animals in moist areas without direct sunlight.Anticipate possible outbreaks during severe weather and post-weaning.    
    
    <br><br><strong>Treatment</strong><br>
    To treat the disease after diagnosis, talk to your vet. Sulfamethazine treatment in water works well. Prevention is possible with coccidiostats, a drug that interferes with the lifecycle of coccidia. Coccidiostats stop the build up of coccidia in the intestine of kids, which stops the disease.
    </p>
    
    
    <br><h2><strong style="color: #c9bc09;">5.	Enterotoxemia (Overeating Disease)</strong></h2><br>
    <p>Enterotoxemia, also known as overeating or pulpy kidney disease, is a condition caused by the absorption of a large amount of toxins produced by Clostridium perfringens types C and D in the intestines. These bacteria are found in the soil and as part of the normal microflora in the gastrointestinal tract of a healthy goats and sheep. Under certain conditions, these bacteria can rapidly reproduce in the animals, producing large quantities of toxins.    
    
    <br><br><strong>Symptoms</strong><br>
    loss of appetite,abdominal discomfort, shown by kicking at the belly and arching the back,profuse diarrhea with or without blood,fever,lethargy, sudden death.    
    
    
    <br><br><strong>Treatment</strong><br>
    Vaccination of all animals in the herd against Clostridium perfringens types C and D is generally effective in preventing enterotoxemia.    </p>
    
    
    <br><h2><strong style="color: #c9bc09;">6.	Listeriosis (Circling Disease)</strong></h2><br>
    <p>Listeriosis is a life-threatening disease of goats and sheep caused by the bacteria Listeria monocytogenes. Goats and sheep are infected by ingestion of spoiled forages and feed contaminated by L. monocytogenes.
    
    <br><br><strong>Symptoms</strong><br>
    Affected animals may have a droopy ear, drooping eyelid, and saliva running from limp lips on one side of the face caused by a partial paralysis.

    <br><br><strong>Prevention and Control</strong><br>
    To help prevent listeriosis, discard spoiled feed and hay. In the case of abortion, isolate aborting does/ewes and send aborted fetuses and placentas to a diagnostic laboratory for isolation of the causative agent.
    <br><br><strong>Treatment</strong><br>
    Treatment involves antibiotics, anti-inflammatories, and supportive therapy such as administration of intravenous fluid and electrolytes.
    </p>

    
    <br><h2><strong style="color: #c9bc09;">7.	Mycoplasmosis</strong></h2><br>
    <p>Mycoplasmosis, also known as contagious agalactiae (CA), is one of the most costly diseases for the dairy goat and sheep industry. The three major symptoms of CA are mastitis, arthritis, and keratoconjunctivitis. Infected goats and sheep can have severe lameness as a result of the polyarthritis, hot swollen joints, weight loss, and fever.
    <br><br><strong>Symptoms</strong><br>
    Sneezing, Stuffy or runny nose, Sore throat, Watery eyes, Wheezing, Vomiting, Diarrhea.
    <br><br><strong>Prevention and control </strong><br>
    Test recently purchased animals for mycoplasma before introducing them to the herd, and cull positive animals. Test milk for mycoplasma and cull positive animals. In infected herds, separate kids/lambs from the mother soon after birth. Feed colostrum from healthy does/ewes and pasteurized milk or milk replacer.
    <br><br><strong>Treatment</strong><br>
    Treatment measures include supportive therapy as well as culling infected animals and systematically pasteurizing the milk fed to kids/ lambs. Veterinarians also may prescribe antibiotics. The prognosis for complete recovery, however, is guarded.
    </p>
    
    <br><h2><strong style="color: #c9bc09;">8.	Enterotoxemia</strong></h2><br>
    <P>Enterotoxaemia in goats is caused by Clostridium perfringens, a gram-positive, non-motile, spore-forming bacilli that grows well in anaerobic or micro-aerophilic conditions. This disease condition tends to be associated mainly with sheep and is of less importance in goats and cattle.    
    

    <br><h2><strong style="color: #c9bc09;">9.	Caseous lymphadenitis</strong></h2><br>
    Caseous lymphadenitis (CLA) is contagious, subclinical and chronic suppurative condition of sheep and goats, occasionally in cattle and is characterized by the formation of abscesses in lymph nodes and visceral organs.    </P>
    </section>
    </div>
    <hr>
    <!-- -------------------------Sheep Diseases----------------------------------------------- -->
    <div class="content" style="margin-left: 25%; margin-top: 30px; margin-right: 25%; margin-bottom: 20px;">
    <section id="SheepDiseases">
    <h1 style="text-align: center; color: #358126; font-size: 35px;"><strong>Sheep Diseases</strong></h1>
    <br><h2><strong style="color: #c9bc09;">1.	Sheep Scab</strong></h2><br>
    <p>Sheep scab is a highly contagious parasitic disease of sheep Sheep scab only affects sheep. Sheep scab is an intensely pruritic, exudative, allergic reaction to the Psoroptes ovis mites which live on the skin surface, causing intense irritation and breakdown of the animal’s skin.</p>
    
    <br><h2><strong style="color: #c9bc09;">2.	Cache Valley Virus</strong></h2><br>
    <p>
        Cache Valley Virus is a bunyavirus that occasionally causes abortion storms in sheep. The virus is spread by mosquitoes to pregnant ewes. If a ewe is infected at less than 28 days of gestation, the embryos usually die and are reabsorbed. If a ewe is infected after 45 days of pregnancy, there are usually no adverse effects.
    </p>

    <br><h2><strong style="color: #c9bc09;">3.	Arthritis</strong></h2><br>
    <p>
        Arthritis in sheep is an inflammation of the joints of the legs, resulting in loss of production, loss of carcass value, and deaths. The main cause of arthritis in sheep is when bacteria enter the body via broken skin.
    </p>

    <br><h2><strong style="color: #c9bc09;">4.	Black Disease</strong></h2><br>
    <p>
        Black disease occurs in sheep in areas where liver flukes are known to occur. Infections are caused by the bacterium Clostridium novyi, which becomes active in the liver tissue damaged by the liver fluke. Control relies on vaccination and elimination of liver flukes.
    </p>


    <br><h2><strong style="color: #c9bc09;">5.	Diarrhea (Scours)</strong></h2><br>
    <p>
        Diarrhea is defined as an increased frequency, fluidity, or volume of fecal excretion. There are many causes of diarrhea: bacterial, viral, parasites, diet, and stress. It is not possible to definitively determine the infectious organism by looking at the color, consistency, or odor of the feces.
    </p>


    <br><h2><strong style="color: #c9bc09;">6.	Footrot</strong></h2><br>
    <p>Footrot is one of the most economically devastating diseases in the sheep industry. It is caused by the interaction of two anaerobic bacteria: Bacteroides nodosus, which can only live in the animal's hoof; and Fusobacterium necrophorum, which is a normal inhabitant of soil and sheep manure.
    </p>



    <br><h2><strong style="color: #c9bc09;">7.	Plant poisoning</strong></h2><br>
    <p>It is important to consider plant toxicities when diagnosing death losses. Many plants are toxic or potentially toxic to sheep. Some plants accumulate toxins during specific times of their growing cycle or after periods of environmental stress. The incidence of plant poisoning in livestock tends to increase when normal forages are scarce, causing animals to eat plants that they would not normally eat.
    </p>

    <br><h2><strong style="color: #c9bc09;">8.	Scrapie</strong></h2><br>
    <p>Scrapie is an always fatal disease that affects the central nervous system of sheep (and goats). Scrapie develops very slowly, taking years before symptoms appear.
    </p> 
        
    </section>
</div>
<hr>
<!-- -------------------------Buffalo Diseases----------------------------------------------- -->
<div class="content" style="margin-left: 25%; margin-top: 30px; margin-right: 25%; margin-bottom: 20px;">
    <section id="BuffaloDiseases">
    <h1 style="text-align: center; color: #358126; font-size: 35px;"><strong>Buffalo Diseases</strong></h1>
    <br><h2><strong style="color: #c9bc09;">1.	BLACK QUARTER</strong></h2><br>
    <p>Black quarter is an acute infection but a non-contagious disease characterized by inflammation of muscles, severe toxaemia and high mortality in cattle and sheep. Buffaloes usually suffer a mild disease.
    </p>
    </section>
</div>
<hr>
<!-- -------------------------Cow Diseases----------------------------------------------- -->
<div class="content" style="margin-left: 25%; margin-top: 30px; margin-right: 25%; margin-bottom: 20px;">
    <section id="CowDiseases">
    <h1 style="text-align: center; color:#358126; font-size: 35px;"><strong>Cow Diseases</strong></h1>
    <p>Sorry, this information isn't available at the moment</p>
    </section>
</div>
<br><br>
<hr>
<!-- -------------------------Chicken Diseases----------------------------------------------- -->
<div class="content" style="margin-left: 25%; margin-top: 30px; margin-right: 25%; margin-bottom: 20px;">
    <section id="ChickenDiseases">
    <h1 style="text-align: center; color:#358126; font-size: 35px;"><strong>Chicken Diseases</strong></h1>
    <br><h2><strong style="color: #c9bc09;">1. Fowl Pox</strong></h2><br>
    <br><strong>Symptoms</strong><br>
    <p>Fowl pox can come in two forms—wet or dry. In the dry form, unfeathered areas of your bird will have wart-like lesions that heal in about two weeks. The wet form of the disease features lesions appearing around the mouth and discharge from your bird’s eyes.</p>
    <br><strong>Treatment</strong><br>
    <p>There is no treatment for fowl pox, but it will typically go away after a few weeks on its own. We suggest giving any sick chickens a little extra care to make sure they’re as comfortable as possible.</p>
    <br><strong>Prevention</strong><br>
    <p>There are special vaccines designed to prevent fowl pox in most birds, but if any birds show signs of infection, make sure to quarantine them. Also, make sure you control mosquitos in your chicken enclosures since they’re able to transmit the disease from flock to flock.</p>


    <br><h2><strong style="color: #c9bc09;">2. Infectious Bronchitis</strong></h2><br>
    <br><strong>Symptoms</strong><br>
    <p>Just like humans, your chickens can get a cold, and it’s just as contagious. If your flock becomes infected, you’ll notice that egg production will drop, the consumption of food and water will decline, there may be a discharge from the birds’ eyes and nostrils, and you may notice labored breathing from your birds.</p>
    <br><strong>Treatment</strong><br>
    <p>Unfortunately, there’s not much that can be done for bronchitis. You can give your birds antibiotics for a few days to make sure no other infections happen while they’re sick, but otherwise you just have to wait it out.</p>
    <br><strong>Prevention</strong><br>
    <p>Like fowl pox, there are a few types of preventative vaccinations against infectious bronchitis, but it’s not a guarantee. Having a good biosecurity method in place, as well as adequate rodent control should help keep the disease to a minimum.</p>


    <br><h2><strong style="color: #c9bc09;">3. Marek’s Disease</strong></h2><br>
    <br><strong>Symptoms</strong><br>
    <p> This disease, also referred to as fowl paralysis, typically affects chickens between 12 and 25 weeks old. If your chick has developed tumors, has irregularly shaped pupils (typically results in blindness), or develops partial paralysis, it’s likely that they have Marek’s Disease.</p>
    <br><strong>Treatment</strong><br>
    <p>Since this poultry disease is a form of avian cancer, there is unfortunately not much that can be done for infected chicks. It’s also contagious since it’s a virus and is transmitted when a chicken breathes in feather dander from another infected bird. If the bird survives, it will remain a carrier of the disease for life, so it’s best to remove it from the flock early.</p>
    <br><strong>Prevention</strong><br>
    <p>While this disease sounds scary, there are vaccines available. Newly hatched birds can be vaccinated for Marek’s disease to help reduce the likelihood of infection.</p>


    <br><h2><strong style="color: #c9bc09;">4.	Newcastle Disease</strong></h2><br>
    <br><strong>Symptoms</strong><br>
    <p>As a respiratory disease, symptoms of Newcastle (ND) tend to appear through breathing difficulties, nasal discharge, murky eyes, and a reduction in egg laying. Sometimes birds can experience twisting in their neck and paralysis in their legs and wings. There are varying strains of this poultry disease, some of which are more lethal than others.</p>
    <br><strong>Treatment</strong><br>
    <p>Birds will typically recover from ND and not be carriers, but if your chicks develop the disease, they will likely not survive. As with other diseases, you can give your birds antibiotics for a few days to avoid any other bacterial infections.</p>
    <br><strong>Prevention</strong><br>
    <p>Since the disease is carried by wild birds, keeping your flock vaccinated is very important. It’s also recommended to practice good sanitation since a person can infect other birds via clothing or shoes.</p>


    <br><h2><strong style="color: #c9bc09;">5.	Coccidiosis</strong></h2><br>
    <br><strong>Symptoms</strong><br>
    <p>When your chicken has loose droppings, it’s likely they have coccidiosis, a parasite that damages the gut wall of chickens. In addition to loose droppings, you may also notice bloody or watery diarrhea, weight loss, and ruffled feathers in your chickens.</p>    
    
    <br><strong>Treatment</strong><br>
    <p>Since there are six species of Eimeria (the coccidiosis parasite), your bird may become immune to one kind, but contract another. You can treat this with antibiotics or other specific types of medication that will get rid of the parasite.</p>    
    
    <br><strong>Prevention</strong><br>
    <p>Keeping food areas, brooders, and coops clean and dry will help avoid the spread of coccidiosis. Using medicated starter feed for your unvaccinated chicks, or adding probiotic supplements to their food, is another way to help control this poultry disease.
    </p>

    </section>
</div>