
   
    <div class="sidenavleft" style="color: #25441e;">
      <div style="padding-top: 50%; padding-left: 35%;">
      <!--<h1><strong>COW</strong></h1><br><br><br><br>
      <h1><strong>CAMEL</strong></h1><br><br><br><br>
      <h1><strong>BUFFALO</strong></h1>-->
      
      </div>
  </div>
  
  <div class="sidenavright" style="color: #25441e;">
    <div style="padding-top: 50%; padding-left: 35%;">
     <!---- <h1><strong>GOAT</strong></h1><br><br><br><br>
      <h1><strong>SHEEP</strong></h1><br><br><br><br>
      <h1><strong>CHICKEN</strong></h1>-->
    </div>
  
  </div>

