<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
    
    <div class="container" style="float: left;">
        <img src="/assets/dr.png" class="img" alt="Avatar" style="width:80%">
      <h4><b>Vet: Saleem Ali</b></h4>
      <h4><b>Dist: MPK</b></h4>
      <h4><b>Taluka: MPK</b></h4>
      <h4><b>UC: 2</b></h4>
      <h4><b>Phone: 03890002200</b></h4>
      
    </div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
    <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
      <h4><b>Vet: Faraz Ahmed</b></h4>
      <h4><b>Dist: Hyderabad</b></h4>
      <h4><b>Taluka: Latifabad</b></h4>
      <h4><b>UC: 6</b></h4>
      <h4><b>Phone: 039881120</b></h4>
</div>
</div>
<!-- ------------------------------------------------------------------------------ -->
<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
    
  <div class="container" style="float: left;">
      <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
    <h4><b>Vet: Kareem Ali</b></h4>
    <h4><b>Dist: Ghotki</b></h4>
    <h4><b>Taluka: Ghotki</b></h4>
    <h4><b>UC: 8</b></h4>
    <h4><b>Phone: 03333988883</b></h4>
  </div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
  <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
    <h4><b>Vet: Shahnawaz Memom</b></h4>
    <h4><b>Dist: Lahore</b></h4>
    <h4><b>Taluka: Model Town</b></h4>
    <h4><b>UC: 1</b></h4>
    <h4><b>Phone: 0313568880</b></h4>
</div>
</div>
<!-- ------------------------------------------------------------------------------ -->
<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
    
  <div class="container" style="float: left;">
      <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
    <h4><b>Vet: Umer Faris</b></h4>
    <h4><b>Dist: Larkana</b></h4>
    <h4><b>Taluka: Ratodero</b></h4>
    <h4><b>UC: 9</b></h4>
    <h4><b>Phone: 03344556620</b></h4>
    
  </div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
  <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
    <h4><b>Vet: Farhan raza</b></h4>
    <h4><b>Dist: Multan</b></h4>
    <h4><b>Taluka:Jalalpur Pirwala</b></h4>
    <h4><b>UC: 8</b></h4>
    <h4><b>Phone: 0311991100</b></h4>
</div>
</div>
<!-- ------------------------------------------------------------------------------ -->

<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
    
  <div class="container" style="float: left;">
      <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
    <h4><b>Vet: Saleem Ali</b></h4>
    <h4><b>Dist: MPK</b></h4>
    <h4><b>Taluka: MPK</b></h4>
    <h4><b>UC: 2</b></h4>
    <h4><b>Phone:03890002200</b></h4>
    
  </div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
  <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
    <h4><b>Vet: Faraz Ahmed</b></h4>
    <h4><b>Dist: Hyderabad</b></h4>
    <h4><b>Taluka:Latifabad</b></h4>
    <h4><b>UC: 6</b></h4>
    <h4><b>Phone: 0398811200</b></h4>
</div>
</div>
<!-- ------------------------------------------------------------------------------ -->
<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
  
<div class="container" style="float: left;">
    <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
  <h4><b>Vet: Kareem Ali</b></h4>
  <h4><b>Dist: Ghotki</b></h4>
  <h4><b>Taluka: Ghotki</b></h4>
  <h4><b>Uc: 8</b></h4>
  <h4><b>Phone: 03333988883</b></h4>
</div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
<img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
  <h4><b>Vet: Shahnawaz Memom</b></h4>
  <h4><b>Dist: Lahore</b></h4>
  <h4><b>Taluka: Model Town</b></h4>
  <h4><b>UC: 1</b></h4>
  <h4><b>Phone: 0313568880</b></h4>
</div>
</div>

<!-- ------------------------------------------------------------------------------ -->
<div class="card" style="margin-left: 28%; margin-top: 6%; float: left;">
    
  <div class="container" style="float: left;">
      <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
    <h4><b>Vet: Umer Faris</b></h4>
    <h4><b>Dist: Larkana</b></h4>
    <h4><b>Taluka: Ratodero</b></h4>
    <h4><b>UC: 9</b></h4>
    <h4><b>Phone: 03344556620</b></h4>
    
  </div>
</div>

<div class="card" style="margin-left: 5%; margin-top: 6%; float: left;">
<div class="container">
  <img src="/assets/dr.png" alt="Avatar" class="img" style="width:80%">
    <h4><b>Vet: Farhan raza</b></h4>
    <h4><b>Dist: Multan</b></h4>
    <h4><b>Taluka:Jalalpur Pirwala</b></h4>
    <h4><b>UC: 8</b></h4>
    <h4><b>Phone: 0311991100</b></h4>
</div>
</div>
<!-- ------------------------------------------------------------------------------ -->
