
<h1 style="color:   #b4aa17; margin-top: 10%; margin-left: 25%; margin-right: 25%;"><strong>List of Veterinary Medicines</strong></h1>
<!-- ---------------------------------Medicine----------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%;">

<strong>Medicine:</strong> Agrogenta 11<br><br>
<strong>Formulation:</strong> Gentamicin (as sulphate) 110 mg, excipients q.s. ad 1 mL. <br><br>
<strong>Indications:</strong> Treatment and prevention of infections caused by microorganisms that are sensitive to gentamicin (of the genitourinary, respiratory and gastrointestinal systems). Also useful in cases of mastitis, metritis, posoperatory and cutaneous infections, septicemias, among others. <br><br>
<strong>Dosage & Administration:</strong> Cattle, horse, sheep, swine, camelid: 1 mL/27.5 kg of b.w.; young animals, dogs and cats: 1 mL/14 kg; poultry: 0.1 mL/1.4 kg; each 24 hours for 3 to 5 consecutive days subcutaneous or intramuscular route. Intrauterine or intra-mammary route: cows: 2 mL diluted in 20 mL of physiological saline solution for 3 to 5 days. Mares: 20 mL diluted in 200 - 500 mL of physiological saline solution for 3 to 5 days (only intrauterine route). <br><br>
<strong>Commercial Presentation: </strong> Bottle x 100 mL , Bottle x 250 mL . <br><br>
<strong>Available at:</strong> Babar Vet Store, New Town, Mirpur Khas <br>
<strong>Contact:</strong> 02354657299
<br><br>
<img src="/assets/medicine/Agrogenta11.png" style="width:50%; height:50%;">
<hr>

</div>

<!-- ------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%;">

    <strong>Medicine:</strong> Amoxigentin<br><br>
    <strong>Formulation:</strong> Amoxicillin (as trihydrate) 150 mg, Gentamycin (as sulphate) 40 mg, excipients q.s.ad 1 mL. <br><br>
    <strong>Indications:</strong> For the treatment of enteritis (produced by E. coli, Salmonella spp.,Clostridium spp.), infections caused by streptococcus spp., such as arthritis and meningitis, ear necrosis, urinary tract infections (nephritis, urethritis, cystitis, etc.), respiratory diseases (pneumonia, bronchitis, etc.), systemic infection and prevention of secondary bacterial infections. <br><br>
    <strong>Dosage & Administration:</strong> Single dose: 1 mL/10 Kg a day during 3 days or at the discretion of the veterinarian. Deep intramuscular route.<br><br>
    <strong>Commercial Presentation: </strong> Bottle x 50 mL , Bottle x 100 mL . <br><br>
    <strong>Available at:</strong> MK Vet Store, Latifabad, Hyderabad <br>
    <strong>Contact:</strong> 03354557267
    <br><br>
    <img src="/assets/medicine/Amoxigentin.png" style="width:50%; height:50%;">
    <hr>
    
</div>

<!-- ------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%;">

    <strong>Medicine:</strong> Aureomycin<br><br>
    <strong>Formulation:</strong> Each 100 g contains: Chlortetracycline 20 g; excipients q.s. ad 100 g. <br><br>
    <strong>Indications:</strong> For poultry, the treatment of respiratory and digestive diseases such as CRD, mycoplasmosis, colibacillosis, among others. <br><br>
    <strong>Dosage & Administration:</strong> Poultry: 10-60 mg of chlortetracycline/kg of live weight. Promoter: 250-500 g of Aureomycin® G200 Px (50-100 ppm of chlortetracycline) per MT continuously. Preventive: 500 g-1 kg of Aureomycin® G200 Px (100-200 ppm of chlortetracycline) per MT for 14 days and/or during the risk period. Therapeutic: 1-3 kg of Aureomycin® G200 Px (200-600 ppm of chlortetracycline) for 7 days. Pigs: : 5-20 mg of chlortetracycline/kg of live weight. Promoter: 250-300 g of Aureomycin® G200 Px (50-60 ppm of chlortetracycline) per MT continuously. Preventive: 500 g-1 kg of Aureomycin® G200 Px (100-200 ppm of chlortetracycline) per MT for 14 days and/or during the risk period. Therapeutic: 1-2 kg of Aureomycin® G200 Px (200-400 ppm of chlortetracycline) for 7 days.<br><br>
    <strong>Commercial Presentation: </strong> Bag x 25 kg. <br><br>
    <strong>Available at:</strong> Nanu Vet Store, Saddar, Karachi <br>
    <strong>Contact:</strong> 04654507296
    <br><br>
    <img src="/assets/medicine/Aureomycin.png" style="width:50%; height:50%;">
    <hr>
    
</div>

<!-- ------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%;">

    <strong>Medicine:</strong> Cipro-Tabs 250<br><br>
    <strong>Formulation:</strong> Ciprofloxacin (as hydrochloride) 250 mg; excipients q.s. ad. 1 tablet. <br><br>
    <strong>Indications:</strong> For the treatment of local and systemic infections caused by ciprofloxacin sensitive bacteria: complicated or chronic infections of the urinary tract, prostatitis, lower respiratory tract infections, intestinal infections, diarrhea, skin infections and injuries, arthritis, meningitis, among others. <br><br>
    <strong>Dosage & Administration:</strong> 1 tablet/25 Kg each 12 hours and 1 tablet/16 Kg for more complicated problems. Oral administration<br><br>
    <strong>Commercial Presentation: </strong> Bottle x 30 tablets. <br><br>
    <strong>Available at:</strong> Imran Vet Store, Heerabad, Mirpur Khan <br>
    <strong>Contact:</strong> 03654503205
    <br><br>
    <img src="/assets/medicine/Cipro-Tabs.png" style="width:50%; height:50%;">
    <hr>
    
</div>

<!-- ------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%;">

    <strong>Medicine:</strong> Combiótico L.A. SPI<br><br>
    <strong>Formulation:</strong> Combiótico L.A. SPI 3.6 g<br>

    Bottle 1: Penicillin G Benzathine 2 000 000 I.U., dihydrostreptomycin sulfate equivalent to 2 g base. Bottle 2: Sterile diluent 8 mL. Each reconstituted mL contains: Benzathine Penicillin G 200,000 IU, dihydrostreptomycin sulfate equivalent to 0.2 g base, excipients q.s.p.1 mL.
    
    <br>Combiótico L.A. SPI 13.5 g<br>
    
    Bottle 1: Penicillin G Benzathine 7,500,000 I.U., dihydrostreptomycin sulfate equivalent to 7.5 g base. Bottle 2: Sterile diluent 30 mL. Each reconstituted mL contains: Benzathine Penicillin G 200,000 IU, dihydrostreptomycin sulfate equivalent to 0.2 g base, excipients q.s.p.1 mL.<br><br>
    <strong>Indications:</strong> Treatment and prevention of local or systemic infections caused by germs susceptible to penicillin and / or dihydrostreptomycin, provided that a long-acting effect is required (spaced doses)<br><br>
    <strong>Dosage & Administration:</strong> 
    Combiótico L.A. SPI
    Synergistic Antibiotic Combination of Wide Spectrum and Long Action
    Camels Canines Goats Horses Felines Sheep Swine CattleSoluble Powder
    Intramuscular injectable route (in intramuscular and subcutaneous canines), repeat after 72 hours if necessary.Cattle, sheep, goats, horses, South American camelids and pigs: the recommended dose is 1 mL for every 10-20 kg of live weight. In young animals: Calves, lambs, foals, piglets, the dose is 1 - 2 mL / 25 kg. Canines and felines: the recommended dose is 1 - 2 mL / 25 kg of live weight.<br><br>
    <strong>Commercial Presentation: </strong> Bottle of 3.6g, Bottle of 8mL of diluent, 30mL bottle of diluent, 13.5mL bottle of diluent. <br><br>
    <strong>Available at:</strong> Kachhi Vet Store, Nagarparkar <br>
    <strong>Contact:</strong> 04656503708
    <br><br>
    <img src="/assets/medicine/Combiotico.png" style="width:50%; height:50%;">
    <hr>
    
</div>

<!-- ------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%;">

    <strong>Medicine:</strong> Cipro-Tabs 250<br><br>
    <strong>Formulation:</strong> Ciprofloxacin (as hydrochloride) 250 mg; excipients q.s. ad. 1 tablet. <br><br>
    <strong>Indications:</strong> For the treatment of local and systemic infections caused by ciprofloxacin sensitive bacteria: complicated or chronic infections of the urinary tract, prostatitis, lower respiratory tract infections, intestinal infections, diarrhea, skin infections and injuries, arthritis, meningitis, among others. <br><br>
    <strong>Dosage & Administration:</strong> 1 tablet/25 Kg each 12 hours and 1 tablet/16 Kg for more complicated problems. Oral administration<br><br>
    <strong>Commercial Presentation: </strong> Bottle x 30 tablets. <br><br>
    <strong>Available at:</strong> Imran Vet Store, Heerabad, Mirpur Khan <br>
    <strong>Contact:</strong> 03654503205
    <br><br>
    <img src="/assets/medicine/Cipro-Tabs.png" style="width:50%; height:50%;">
    <hr>
    
</div>

<!-- ------------------------------------------- -->
<div style="margin-top: 5%; margin-left: 25%; margin-right: 25%;">

    <strong>Medicine:</strong> Cefa-Milk<br><br>
    <strong>Formulation:</strong> Cephalexin monohydrate (base) 20 mg; excipients q.s. ad. 1mL. <br><br>
    <strong>Indications:</strong> For the treatment of mastitis in cattle, sheep and goats in milk production, caused by germs that are sensitive to cephalexin. It must be used at the first signs of inflammation or at the first indication of any alteration in the milk. The exclusive Duo Cap® system offers the possibility of the a deep application or administration near the nipple sphincter.<br><br>
    <strong>Dosage & Administration:</strong> Cattle: 1 syringe/ affected quarter every 12 - 24 hours during 2 days or until complete recovery; sheep and goats: 1/2 syringe /affected quarter every 12 - 24 hours during 2 days or until complete recovery. Apply through intrammamary infusion.<br><br>
    <strong>Commercial Presentation: </strong> Plastic container x 48 syringes of 10 mL. <br><br>
    <strong>Available at:</strong> Asad Vet Store, New Town, Larkana <br>
    <strong>Contact:</strong> 04953573088
    <br><br>
    <img src="/assets/medicine/Cefa-Milk.png" style="width:50%; height:50%;">
    <hr>
    
</div>