<h1 style="color:  #b4aa17; margin-top: 10%; margin-left: 25%; margin-right: 25%;"><strong>Following is an Incomplete List of Cattle Markets Set up on Days of the Week:</strong></h1>
<!-- ---------------------------------Medicine----------------------------------------------- -->

<div style="margin-top: 5%; margin-left: 33%; font-size: larger; color: #acb806; ">

<div class="font" style="background-color: #c3fac3;">
<strong style="margin-left: 15%;">Monday: Jemsabad</strong><br>
<strong style="margin-left: 15%;">Timings: 10am to 3pm</strong>
</div>

<img class="img" src="/assets/markets/one.jpg" style="width:50%; height:50%;">

</div>
<hr>
<!-- -------------------------------------- -->
<div style="margin-top: 5%; margin-left: 33%; font-size: larger; color: #acb806;">

    <div class="font" style="background-color: #c3fac3;">
    <strong style="margin-left: 15%;">Tuesday: Tando Allah Yar</strong><br>
    <strong style="margin-left: 15%;">Timings: 12am to 4pm</strong>
</div>
    <img class="img" src="/assets/markets/two.png" style="width:50%; height:50%;">
    

</div>
<hr>
<!-- -------------------------------------- -->
<div style="margin-top: 5%; margin-left: 33%; font-size: larger; color: #acb806;">

    <div class="font" style="background-color: #c3fac3;">
    <strong style="margin-left: 15%;">Wednesday: Mirpur Khas</strong><br>
    <strong style="margin-left: 15%;">Timings: 9am to 2pm</strong>
</div>
    <img class="img" src="/assets/markets/three.jpg" style="width:50%; height:50%;">
    
</div>
<hr>
<!-- -------------------------------------- -->
<div style="margin-top: 5%; margin-left: 33%; font-size: larger; color: #acb806;">
    <div class="font" style="background-color: #c3fac3;">
    <strong style="margin-left: 15%;">Thursday: Talhar</strong><br>
    <strong style="margin-left: 15%;">Timings: 9am to 3pm</strong>
</div>
    <img class="img" src="/assets/markets/four.jpg" style="width:50%; height:50%;">
    
</div>
<hr>
<!-- -------------------------------------- -->
<div style="margin-top: 5%; margin-left: 33%; font-size: larger; color: #acb806;">
    <div class="font" style="background-color: #c3fac3;">
    <strong style="margin-left: 15%;">Friday: Samaro</strong><br>
    <strong style="margin-left: 15%;">Timings: 10am to 3pm</strong>
</div>
    <img class="img" src="/assets/markets/five.jpg" style="width:50%; height:50%;">
    
</div>
<hr>
<!-- -------------------------------------- -->
<div style="margin-top: 5%; margin-left: 33%; font-size: larger; color:  #acb806;">
    <div class="font" style="background-color: #c3fac3;">
    <strong style="margin-left: 15%;">Saturday: Nau Kot</strong><br>
    <strong style="margin-left: 15%;">Timings: 11am to 4pm</strong>
</div>
    <img class="img" src="/assets/markets/six.jpg" style="width:50%; height:50%;">
    
</div>
<hr>
<!-- -------------------------------------- -->
<div style="margin-top: 5%; margin-left: 33%; font-size: larger; color:  #acb806;">
    <div class="font" style="background-color: #c3fac3;">
    <strong style="margin-left: 15%;">Sunday: New Dumbalo</strong><br>
    <strong style="margin-left: 15%;">Timings: 10am to 3pm</strong>
</div>
    <img class="img" src="/assets/markets/seven.jpg" style="width:50%; height:50%;">
    
</div>
<hr>
